@import url("http://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("http://fonts.googleapis.com/css?family=Playfair+Display:400italic,700italic,900");

body{
  font: 400 14px/1.8 "Raleway", sans-serif;
}

h1{
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 34px;
  text-transform: uppercase;
  margin:0;
  padding:0;
  @include breakpoint(lg) {
    letter-spacing: 15px;
  }
}

h2{
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  line-height: 2;
  letter-spacing: 3px;
  font-size: 22px;
  margin:0;
  padding:0;
}

h3{
  
}

h4{
  margin:0;
  padding:0;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
}

h5{
  line-height: 1.8;
  letter-spacing: 4px;
  font-size: 16px;
}
.gradient{
  background: #a2e6da; /* Old browsers */
  background: -moz-linear-gradient(top,  #a2e6da 25%, #ffb0b6 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a2e6da 25%,#ffb0b6 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a2e6da 25%,#ffb0b6 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2e6da', endColorstr='#ffb0b6',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
  background-size:100%;
}

.full-height{
  height:928px;
}

hr{
  width:60px;
  height:6px;
  border:0;
  margin:1em auto;
  &.hr-pink{
    background:#ffb1b8;
  }
}


// Hero
.hero{
  width:100%;
  margin-top:-50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .hero-box{
    margin:auto;
    background:#fff;
    border:3px solid #000;
    border-radius: 0;
    @include breakpoint(sm) {
      max-width:90%;
    }
  }
}
